body {
  background: url(../img/bg-signin.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 60px;
  font-family: Helvetica; }

.signin {
  margin-top: 10%;
  padding: 50px;
  border-radius: 4px; }
  .signin h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
    font-weight: bolder; }
  .signin .form-horizontal input {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75); }
  .signin .form-control::-webkit-input-placeholder {
    color: #000; }
  .signin .form-control:-moz-placeholder {
    color: #000; }
  .signin .form-control::-moz-placeholder {
    color: #000; }
  .signin .form-control:-ms-input-placeholder {
    color: #000; }

.progress {
  height: 10px; }

.pharmacy {
  box-sizing: border-box;
  padding: 30px;
  border: 1px #000 solid; }
  .pharmacy h1 {
    font-size: 60px;
    line-height: 1;
    color: inherit;
    letter-spacing: -1px; }
  .pharmacy p {
    font-size: 18px;
    font-weight: 200;
    line-height: 27px;
    color: inherit; }
  .pharmacy.col-md-9 {
    background-color: #337ab7; }
  .pharmacy.col-md-3 {
    background-color: #eee;
    height: 500px; }
    .pharmacy.col-md-3 h2 {
      margin: 0; }
  .pharmacy .details td {
    padding: 5px;
    vertical-align: top; }

#map-canvas {
  height: 440px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  border: 1px #000 solid; }

#logout {
  display: none; }

.modal-content {
  padding: 30px; }
  .modal-content h2 {
    text-align: center;
    margin-bottom: 30px; }

.profile {
  box-sizing: border-box;
  border: 5px solid #fff;
  text-align: center;
  height: 100px;
  cursor: pointer;
  border-radius: 0 100px 100px 0; }
  .profile .profile-buttons {
    position: absolute;
    top: 0;
    right: 0; }
  .profile .profile-button {
    display: none;
    float: left; }
  .profile .pic {
    height: 90px;
    width: 90px;
    border-radius: 0% 50% 50% 0;
    background-color: #fff;
    float: left;
    margin-left: -15px; }
    .profile .pic img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      border: 5px solid rgba(255, 0, 0, 0);
      float: left; }
  .profile .text {
    text-align: center;
    margin: 35px 0 0 0;
    width: 100%; }

.profiledetail {
  box-sizing: border-box;
  border: 5px solid #fff;
  padding: 30px;
  text-align: center; }

#calendarOptions {
  position: absolute;
  display: none;
  border: 1px #000 solid;
  background-color: #eee;
  z-index: 1;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 0 25px 25px 25px; }
  #calendarOptions ul {
    list-style: none;
    padding: 0; }
    #calendarOptions ul li .btn {
      width: 100%; }

@media (min-width: 768px) {
  .insert-prescription label {
    padding: 0; } }
.navbar-default {
  background-color: #000;
  border-color: #fff; }
  .navbar-default .navbar-brand {
    color: #fff; }
    .navbar-default .navbar-brand:hover {
      color: #fff; }
    .navbar-default .navbar-brand:focus {
      color: #fff; }
  .navbar-default .navbar-toggle {
    border-color: #000; }
    .navbar-default .navbar-toggle:hover {
      background-color: #000; }
    .navbar-default .navbar-toggle:focus {
      background-color: #000; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff; }
  .navbar-default .navbar-nav > li > a {
    color: #fff; }
    .navbar-default .navbar-nav > li > a:hover {
      color: #fff; }
    .navbar-default .navbar-nav > li > a:focus {
      color: #fff; }
  .navbar-default .navbar-nav > .active > a {
    color: #fff;
    background-color: #000; }
    .navbar-default .navbar-nav > .active > a:hover {
      color: #fff;
      background-color: #000; }
    .navbar-default .navbar-nav > .active > a:focus {
      color: #fff;
      background-color: #000; }
  .navbar-default .navbar-nav > .open > a {
    color: #555;
    background-color: #d5d5d5; }
    .navbar-default .navbar-nav > .open > a:hover {
      color: #555;
      background-color: #d5d5d5; }
      .navbar-default .navbar-nav > .open > a:hover .caret {
        border-top-color: #555;
        border-bottom-color: #555; }
    .navbar-default .navbar-nav > .open > a:focus {
      color: #555;
      background-color: #d5d5d5; }
      .navbar-default .navbar-nav > .open > a:focus .caret {
        border-top-color: #555;
        border-bottom-color: #555; }
    .navbar-default .navbar-nav > .open > a .caret {
      border-top-color: #555;
      border-bottom-color: #555; }
  .navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777; }
  .navbar-default .navbar-nav > .dropdown > a:hover .caret {
    border-top-color: #333;
    border-bottom-color: #333; }
  .navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333; }

#prescriptions .btn {
  font-family: Glyphicons Halflings; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
      color: #333; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #333; }

  .signin {
    margin-top: 20px; }
    .signin h1 {
      margin-left: -35px; } }

/*# sourceMappingURL=light.css.map */
