/* 60px to make the container go all the way to the bottom of the topbar */
body {
  padding-top: 60px;
}

.signin {
  padding: 30px;
  border: 1px #000 solid;
  width: 500px;
  margin: 0 auto;
  background-color: #eeeeee;
}

.signin h1 {
  text-align: center;
  margin-bottom: 30px;
}

.signin .form-horizontal input{
  width:100%;
}

.pharmacy {
  box-sizing: border-box;
  padding: 30px;
  border: 1px #000 solid;
}
.pharmacy h1 {
  font-size: 60px;
  line-height: 1;
  color: inherit;
  letter-spacing: -1px;
}
.pharmacy p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
  color: inherit;
}
.pharmacy.col-md-9 {
  background-color:#337ab7;
}
.pharmacy.col-md-3 {
  background-color:#eeeeee;
  height: 500px;
}
.pharmacy.col-md-3 h2{
  margin:0;
}

#map-canvas {
  height: 440px;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
  border: 1px #000 solid;
}

.pharmacy .details td {
  padding:5px;
  vertical-align: top;
}

#logout {
	display: none;
}

.modal-content {
  padding:30px;
}

.modal-content h2 {
  text-align: center;
  margin-bottom: 30px;
}

.profiles .profile {
  cursor: pointer;
}

.profile {
  box-sizing: border-box;
  border: 5px solid #fff;
  padding: 30px;
  text-align: center;
}

.profile .profile-buttons {
  position: absolute;
  top: 0;
  right: 0;
}

.profile .profile-button {
  display: none;
  float:left;
}

.profiledetail {
  box-sizing: border-box;
  border: 5px solid #fff;
  padding: 30px;
  text-align: center;
}

#prescriptions .btn {
  font-family: 'Glyphicons Halflings';
}

#calendarOptions {
  position: absolute; 
  display: none;
  border: 1px #000 solid;
  background-color: #eeeeee;
  z-index: 1;
  text-align: center;
  box-sizing: border-box;
  padding:10px;
  border-radius: 0 25px 25px 25px;
}

#calendarOptions ul {
  list-style: none;
  padding: 0;
}

#calendarOptions ul li .btn {
  width:100%;
}

@media (min-width: 768px) {
  .insert-prescription label {
    padding: 0;
  }
}